/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

nav 					{background:#f6fbfb;/*border-top:3px solid rgb(11,13,15);*/width:100%;}

.title 					{margin:0;padding:8px 0 0;}
.title h4 				{
						padding:18px 0 9px;
						width:144px;
						color:rgb(11,13,15);
						border-bottom:3px solid rgb(11,13,15);
						font-size:20px;
						font-size:2.0rem;
						margin-bottom: 3px;
						font-family:"futura-pt","Helvetica Neue",Helvetica,sans-serif;
						font-weight:300;
						font-style:normal;
						letter-spacing:1px;
						font-variant:normal;
						}

.nav-bar li a:hover 	{}

.thin 					{font-weight:100;}
.light 					{font-weight:300;}
.thick 					{font-weight:700;}
.dark 					{color:#494949;}
.darker 				{color:#434343;}
.darkest 				{color:#313131;}

h4.family  			{
						background:url('../images/icon-grid-2up.png');
						background-repeat:no-repeat;
						background-position:left 5px;
						margin-bottom:0;
						padding-left:36px;
						width:137px;
						}
/*h4.about  			{
						background:url('../images/sprite-head.png');
						background-repeat:no-repeat;
						background-position:center center;
						padding-left:46px;
						}*/
h4.share  			{
						background:url('../images/icon-chat.png');
						background-repeat:no-repeat;
						background-position:left 7px;
						margin-bottom:9px;
						padding-left:30px;
						}
h4.email  			{
						background:url('../images/sprite-head.png');
						background-repeat:no-repeat;
						background-position:right center;
						padding-left:46px;
						}

footer 					{padding:36px 0;background:rgb(11,13,15);}


/* -----------------------------------------
   Index
----------------------------------------- */

.banner 				{margin-bottom:54px;padding:18px 0;border-bottom:1px solid rgba(11,13,15,0.15);position:relative;}
.banner h3 				{padding-top:18px;color:rgba(11,13,15,0.95);}
.flexslider 			{overflow:hidden;display:block;position:relative;width:100%;height:auto;}
.flexslider > div img 	{margin-left:-770px;max-width:none;}

#hero 					{overflow:hidden;}

#glyph-preview 			{background:#f6fbfb;}
	.icons ul 				{margin-bottom:36px;}
	.icons ul li 			{text-align:center !important;}

.island-head			{padding-top:18px;padding-bottom:18px;border-top:3px solid rgb(11,13,15);}
.island-head small 	{line-height:30px;}

.island 				{padding-top:36px;}
.island:last-child 		{padding-bottom:36px;}

.color-white	 		{background:#f6fbfb;}
.color-lightgrey 		{background:#eaefef;}
.color-blue 			{background:#6cb4fc;}




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


